fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
numpy==1.26.4
Pillow==10.4.0
faiss-cpu==1.8.0.post1
opencv-contrib-python-headless==4.10.0.84
PyYAML==6.0.2
onnxruntime==1.18.1
requests==2.32.3
